In [10]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [11]:
loan_df = pd.read_csv('Bank_Personal_Loan_Modelling.csv', low_memory=False, index_col='ID')
loan_df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,,,,,,,,,,,,,
1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [12]:
pairplot = sns.pairplot(loan_df.drop(columns=['ZIP Code']), hue='Personal Loan')

pairplot.savefig('pairplot.png')